<form class="{{cssClass}} flexcol" autocomplete="off">
    <div class="darkness" style="background-color: #{{darknessColor}}; opacity: {{darkness}}"></div>
    {{#if isVideo}}
        <video playsinline src="{{image}}" style="width: 100%">
    {{else}}
        <figure class="flexcol">
            <img src="{{image}}" {{#if showTitle}}alt="{{title}}"{{/if}}/>
        </figure>
    {{/if}}
</form>
