<div class="share-bounding-tile-selection">
    <div class="how-to">
        <i class="fas fa-map"></i>
        <span>{{localize 'share-media.dialogs.share-bounding-tile-selection.how-to' }}</span>
    </div>
    <hr>
    <form>
        {{#each boundingTiles}}
            <div class="form-group bounding-tile-buttons">
                <label for="{{this.id}}">{{this.name}}</label>
                <input type="radio" name="boundingTileId" value="{{this.id}}" id="{{this.id}}" {{#unless @index}}checked{{/unless}}>
            </div>
        {{/each}}
    </form>
    <hr>
</div>

<script>
    shareMediaFormbuttons = document.querySelectorAll("#share-media-share-bounding-tile-selection-dialog .bounding-tile-buttons")
    shareMediaFormbuttons.forEach(item => {
        item.addEventListener("dblclick", (event) => {
            const formButton = document.querySelector("#share-media-share-bounding-tile-selection-dialog button.dialog-button.validate")
            formButton.click()
        })
    })
</script>